@model AppPet.MVC.Models.Especie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes da Espécie</h2>
<div>
    <button onclick="document.location.href = 'http://localhost:51778/Especie/Index'" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Voltar
    </button>
    <button onclick="document.location.href = 'http://localhost:51778/Especie/Edit/'+@Model.EspecieId" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span> Editar
    </button>
</div>
<hr />
<div>
    <h4>Espécie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>

